<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.example.bartekpc.gl_shoppinglist">

    <application
        android:name=".BaseApplication"
        android:allowBackup="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".productCreation.ProductAddActivity">
        </activity>
        <activity android:name=".productList.ProductListActivity">
        </activity>
        <activity android:name=".catalogList.ListsActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:name=".productCreation.ProductEditActivity">
        </activity>
    </application>

</manifest>